{% load static %}
<html>
<head>
    <style>
        h1{
            text-align: center;
            font-size: 40px;
            color: black;
            font-family: Arial;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px cyan;
        }
    </style>
</head>
<body>
<table align="center" border="0" width="600" >
    <tr>
        <th><img src="{% static 'image/onlineimage.jpeg' %}" width="200"></th>
        <th width="400"><h1>Online Sales</h1></th>
    </tr>
</table>
</body>
</html>